.git
.gitignore
node_modules
vendor
.env
.env.backup
.env.production
/public/hot
/storage/*.key
/storage/pail
.DS_Store
Thumbs.db
*.log
README.md
arsitektur.md
dokumentasi.md
design_system.md
test_*.php
